// Background
$background_primary_color: #fee7d1;
$background_secondary_color: #ffffff;

// Text
$text_primary_color: #58402c;
$text_secondary_color: #2c4792;
$text_tertiary_color: #ffffff;

// Button
$button_primary_color: #2c4792;
